.loginCard{
    background-color: #2b2b2b;
    color: #fff;
    width: 700px !important;
    
}

.loginCard.card{
  height: 500px !important;
}

.loginForm{
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.botonLogin{
  width: 150px;
  font-size: 18px;
  margin: 90px auto 0;
}

.bienvenida{
  margin: 5px auto 20px;
}

.closeLogin{
  float: right;
  cursor: pointer;
  padding: 2px;
}