body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  color: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26.3rem;
  margin-right: 18.6rem;
}

.iconos li {
  width: 100%;
  height: 100%;
  border-radius: 30%;
  margin: 0;
  padding: 0;
}

.iconos li:hover {
  background-color: #4d4d4d;
  transition-duration: .65s;
}

nav {
  display: flex;
  flex-direction: row;
}

.botones button {
  font-weight: bold;
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.botones button:hover {
  background-color: #4d4d4d;
  color: #e6e6e6;
  transition-duration: 150ms;
}

.modal-content {
  background-color: #2c2f33;
  color: #fff;
  border: none;
  z-index: 2000;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 3rem;
}

.form-control {
  background-color: #3b4045;
  color: #fff;
  border-color: #3b4045;
  
}

.btn.btn-primary {
  margin-top: 15px;
}

.form-label {
  color: #fff;
}

.btn-primary {
  background-color: #7289da;
  border-color: #7289da;
}

.bienvenida{
  top: 70px;
  left: 50px;
}

a {
  text-decoration: none;
  color: inherit;
} 
.aSub:hover{
  text-decoration: underline;
}


@media screen and (max-width: 1279px) {
  /* Iconos */
  .iconos {
    justify-content: center;
    margin-bottom: 10px;
  }

  .iconos li {
    margin: 0 5px;
  }

  /* Botones */
  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .botones button {
    margin-bottom: 10px;
  }
}

.container-fluid.position-fixed.fixed-top.cab {
  background-color: #282828;
}

.carr{
  margin-top: 4rem;
}

.swiper-3d {
  perspective: 655px !important;
}

.swiper-button-prev.slider-arrow.text-white.botonesSlider {
  left: 200px;
}

.swiper-button-next.slider-arrow.text-white {
  right: 180px;
}

.swiper-button-prev.slider-arrow.text-white.botonesSlider:hover{
  color: yellow !important;  
}

.swiper-button-next.slider-arrow.text-white:hover{
  color: yellow !important;  
}

.scroll-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-top {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.scroll-top:hover {
  opacity: 0.8;
}

.scroll-top {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-top.hide {
  animation: fadeOut 0.3s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@media screen and (max-width: 1279px) {
  /* Iconos */
  .swiper-button-prev.slider-arrow.text-white.botonesSlider {
    left: 0px;
  }
  
  .swiper-button-next.slider-arrow.text-white {
    right: 0px;
  }
}

.slidebar{
  position: fixed;
  z-index: 101;
  
}

@media screen and (max-width: 1279px) {
  .slidebar{
  top: 45px;
  }
}