.nombre{
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;
    background-color: #2b2b2b83;
    padding: 0 0.2rem;
    border-radius: 5px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
  }

a:hover{
text-decoration: underline;
color: white;
}