.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.categoria-button {
    margin: auto;
    background-color: #282828;
    width: 7rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .categoria-button:active{
    background-color: rgb(255, 15, 155) !important;
  }
  