.modal-content {
    background-color: #2c2f33;
    color: #fff;
    border: none;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-body {
    padding: 3rem;
  }
  
  .form-control {
    background-color: #3b4045;
    color: #fff;
    border-color: #3b4045;
    
  }

  .btn.btn-primary {
    margin-top: 15px;
  }
  
  .form-label {
    color: #fff;
  }
  
  .btn-primary {
    background-color: #7289da;
    border-color: #7289da;
  }