body {
  background-color: #1c1c1c;
  color: #fff;
}

.card-plan{
  background-color: #2b2b2b;
  color: #fff;
  width: 700px;
}

.card-header {
  background-color: #1c1c1c;
  color: #fff;
}

.card-body {
  background-color: #2b2b2b;
  color: #fff;
}

.card-text{
  cursor: default;
}

.infoUser {
  color: #fff;
}

.plan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plan {
  margin-top: 10px;
  margin-bottom: 50px;
}

.card-img-top {
  max-height: 466px;
}

.iconosPlanes {
  padding-left: 1rem;
}

.iconoPlan {
  display: flex;
  align-items: center;
  font-size: 4rem;
  margin: 3px;
  cursor: pointer;
  padding: 12px;
  background-size: cover;
  border-radius: 20px;
}

.username{
  top: 1rem;
  left: 3.5rem;
  background-color: #2b2b2b83;
  padding: 0 0.4rem;
  border-radius: 5px;
  text-decoration: none;
}

.share {
  display: flex;
  align-items: center;
  font-size: 4.0rem;
  margin: 3px;
  cursor: pointer;
  padding: 15px;
  background-size: cover;
  border-radius: 20px;
}

.iconoPlan:hover {
  background-color: rgba(255, 255, 255, 0.829);
  color: black;
  transition: 0.5s;
}

.share:hover {
    background-color: rgba(255, 255, 255, 0.829);
    color: black;
    transition: 0.5s;
  }

  .card-plan.card {
    display: flex;
}

@media screen and (max-width: 526px) {
  .card {
    width: 100%;
  }
  .iconoPlan {
    font-size: 3.5rem;
  }
  .card-img-top {
    max-height: 266px;
  }
}
