.menuIzq{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1000px;
    background-color: #282828;
    border-radius: 15px;
    gap: 16px;
}

.link.list-group-item.font-weight-bold.mb-3.p-3.d-flex.align-items-center {
    border-radius: 15px;
  }

.link:hover{
    color: #000000;
    background-color: rgba(255, 255, 255, 0.815);
    transition: 300ms;
}

.hide-sidebar-button{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 56px;

}

.menuSpan{
    margin-left: -5px;
}

.slidebar-enter {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .slidebar-enter-active {
    transform: translateX(0%);
  }
  
  .slidebar-exit {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  
  .slidebar-exit-active {
    transform: translateX(-100%);
  }

@media screen and (max-width: 526px) {
    .menuIzq{
        display: flex;
        flex-direction: column;
        width: 216px;
        height: 1000px;
        background-color: #282828;
        border-radius: 15px;
        gap: 16px;
    }
}
