.menuIzq{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 1000px;
    background-color: #282828;
    border-radius: 9px;
    gap: 16px;
    margin-top: 25px;
}
.submenu{
  margin-left: 20px;
  
}
.link.list-group-item.font-weight-bold.mb-3.p-3.d-flex.align-items-center {
    border-radius: 15px;
  }

.link:hover{
    color: #000000;
    background-color: rgba(255, 255, 255, 0.815);
    transition: 300ms;
    width: 100% !important;
}

.hide-sidebar-button{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 56px;

}


.btn {
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s;
}

.btn:hover {
  background-color: #4d4d4d;
  color: #fff;

}

form.iconos.d-flex{
  color: #000000;
  
}

.bncmtB > ul {
  list-style-type: none;
  margin: 0;

}
.bncmtB > ul > li{
border-radius: 2% !important;
backface-visibility: hidden;
}

.busca{
  background-color:rgba(239, 20, 140, 0.958);
  border: none;
  cursor: pointer;
  transition: transform 1s;
  margin-left: 15px;
  margin-right: 50px;

}
.busca:hover {
  color: #fff;
  background-color: #4d4d4d;
  transition: background-color 0.1s;

}

.dropdown {
  border-radius: 15px;
}
.dropdown-content {
  border-radius: 15px;
}

.menuSpan{
    margin-left: -5px;
}


@media screen and (max-width: 526px) {
    .menuIzq{
        display: flex;
        flex-direction: column;
        width: 216px;
        height: 1000px;
        background-color: #282828;
        border-radius: 15px;
        gap: 16px;
    }
}
