/* Modo oscuro */
body {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Estilos de enlaces */
a {
  color: #ffffff;
}


a:hover {
  color: #ffcc00;
}

/* Estilos de la barra de navegación */
nav {
  background-color: #333333;
  display: flex;
}

.iconos li:hover {
  background-color: #ffcc00;
}

.swiper-3d{
  perspective: 700px !important;
}


